PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_URI=



JWT_SECRET=ThisIsMyVeryLongSecretKey123456789

JWT_EXPIRES_IN=7d

COOKIE_NAME=ig_token

CLOUDINARY_CLOUD_NAME=Root
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=