@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

@keyframes story-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-story-progress {
  animation-name: story-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
